<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Pass API, Admin, Media, and Static requests to Python backend
  RewriteCond %{REQUEST_URI} ^/(api|admin|media|static)/ [NC]
  RewriteRule ^ - [L]

  # Serve existing physical files/folders directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Route all dynamic SPA paths back to index.html
  RewriteRule . /index.html [L]
</IfModule>
